.journals {
  padding-top: 140px;

  min-height: 100vh;

  .title-sentence {
    letter-spacing: 1px;
    width: 70%;
  }

  .normal-sentence {
    width: 80%;
  }

  .filters {
    margin: 70px 0;
  }
}
