.home {

  .home__banner {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    background: linear-gradient(to top left, rgb(172, 246, 248), rgb(129, 255, 238));

    color: black;

    margin: 70px 0;

    cursor: pointer;

    .banner__title {
      font-size: 1.1em;

      margin-right: 15px;
    }

    .banner__flag {
      height: 30px;
      width: 50px;

      border-radius: 5px;
    }
  }

  section {
    min-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title-sentence {
      width: 75%;
      font-size: 30px;
    }

    .normal-sentence {
      width: 80%;
      font-size: 20px;
    }

    .little-sentence {
      width: 70%;
      font-size: 15px;
    }
  }

  section:nth-child(1) {
    min-height: calc(50vh - 60px - 40px);
    flex-direction: row;

    padding: 20px;

    margin-bottom: 70px;

    .logo {
      height: 200px;
      width: 200px;
    }

    .logo-title {
      margin-left: 10vw;
      font-size: 40px;
    }
  }

  section:nth-child(2) {
    min-height: 100vh;

    justify-content: space-around;

    padding: 50px 0;
  }
}

@media (max-width: 900px) {
  .home {

    section:nth-child(1) {
      flex-direction: column;

      .logo {
        height: 130px;
        width: 130px;
      }

      .logo-title {
        margin-left: 0;
        font-size: 28px;
      }
    }
  }
}
