.show-journal {
  padding-top: 140px;

  min-height: 100vh;

  .back {
    cursor: pointer;

    background: var(--black40);

    border-radius: 0 5px 5px 0;

    color: var(--creme);

    padding: 10px 10px 10px 20px;

    width: 150px;

    transition: .5s ease;

    margin-bottom: 50px;

    &:hover {
      width: 200px;
    }

    .back-arrow {
      height: 40px;
      width: 40px;

      margin-right: 20px;

      margin-left: auto;
    }

    .back-label {
      letter-spacing: 2px;

      margin: 0;

      font-family: 'Viga', sans-serif;

      font-size: 20px;
    }
  }

  .journal-image {
    cursor: pointer;

    margin: 20px;

    min-height: 700px;
    min-width: 400px;

    background: darkblue;
    color: white;

    font-family: 'Viga', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;

    border-radius: 20px;

    transition: .5s ease;

    opacity: .8;

    &:hover {
      border-radius: 0px;

      opacity: 1;
    }
  }

  .journal-main, .journal-date {
    padding: 10px;
  }

  .journal-main {
    line-height: 27px;
  }

  .journal-title {
    padding: 5px 25px;

    border-radius: 100px;

    background: var(--black40);

    color: var(--creme);

    letter-spacing: 1px;
  }
}


@media (max-width: 900px) {
  .show-journal {

    .journal-title {
      width: 80%;
    }

    .journal-image {
      min-height: 350px;
      min-width: 250px;
    }

    .journal-title {
      text-align: center;
    }
  }
}
